@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 1.25rem /* 16px */;
    line-height: 1.75rem /* 24px */;
    border-radius: 999px;

    --tw-shadow-color: rgb(var(--color-tertiary-700) / 0.3);
    --tw-shadow: var(--tw-shadow-colored);
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-500) / var(--tw-bg-opacity));

    hover: {
      --tw-bg-opacity: 1;
      background-color: rgb(var(--color-tertiary-500) / var(--tw-bg-opacity));
    }
  }

  input,
  textarea {
    width: 100%;
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-tertiary-500) / var(--tw-border-opacity));
    border-width: 3px;
    background-color: "#ffffff";
  }
}

@layer utilities {
  ul.dbn-ul-list {
    display: flex;
    flex-direction: row;

    li:hover {
      text-decoration-line: underline;
      text-decoration-color: rgb(var(--color-primary-500) / 1);
      text-underline-offset: 4px;
      text-decoration-thickness: 4px;
    }

    li > a {
      white-space: nowrap;
    }
  }

  .header-lg-styles {
    @apply lg:flex-row lg:justify-between lg:items-center;
  }

  .footer-lg-styles {
    @apply lg:grid lg:grid-cols-[auto_auto_auto];
  }
}

@keyframes color-change {
  0% {
    @apply bg-primary-500;
  }

  100% {
    @apply bg-tertiary-500;
  }
}

@keyframes color-leave {
  0% {
    @apply bg-tertiary-500;
  }

  100% {
    @apply bg-primary-500;
  }
}

button:hover {
  animation: color-change 0.25s ease-in-out forwards;
}

button:not(hover) {
  animation: color-leave 0.25s ease-in-out forwards;
}

@font-face {
  font-family: "Neonoir W01 Bold";
  src: url("https://db.onlinewebfonts.com/t/6b9c1e37571068a60da4af717918a836.eot");
  src:
    url("https://db.onlinewebfonts.com/t/6b9c1e37571068a60da4af717918a836.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6b9c1e37571068a60da4af717918a836.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/6b9c1e37571068a60da4af717918a836.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/6b9c1e37571068a60da4af717918a836.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/6b9c1e37571068a60da4af717918a836.svg#Neonoir W01 Bold") format("svg");
}

@font-face {
  font-family: "ostrich_sansblack";
  src: url("./assets/fonts/OstrichSans/ostrich-sans.sans-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ostrich_sansmedium";
  src: url("./assets/fonts/OstrichSans/ostrich-sans.sans-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
