@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a.btn-link {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 1.25rem /* 16px */;
    line-height: 1.75rem /* 24px */;
    border-radius: 999px;
    @apply font-ostrich_black;
    @apply text-white;

    --tw-shadow-color: rgb(var(--color-tertiary-700) / 0.3);
    --tw-shadow: var(--tw-shadow-colored);
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-500) / var(--tw-bg-opacity));

    hover: {
      --tw-bg-opacity: 1;
      background-color: rgb(var(--color-tertiary-500) / var(--tw-bg-opacity));
    }
  }

  input,
  textarea {
    width: 100%;
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-tertiary-500) / var(--tw-border-opacity));
    border-width: 3px;
    background-color: "#ffffff";
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details summary {
    cursor: pointer;
  }

  details summary::before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url("/assets/faq/FAQ_DownArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
    transform: rotate(270deg);
  }

  details[open] summary::before {
    transform: rotate(360deg);
  }
}

@layer utilities {
  ul.dbn-ul-list {
    display: flex;
    flex-direction: row;

    li:hover,
    li:active,
    li.active {
      text-decoration-line: underline;
      text-decoration-color: rgb(var(--color-primary-500) / 1);
      text-underline-offset: 4px;
      text-decoration-thickness: 4px;
    }

    li > a {
      white-space: nowrap;
    }
  }

  ul.footer-list {
    a:hover,
    a:active,
    li.active {
      text-decoration-line: underline;
      text-decoration-color: rgb(var(--color-primary-500) / 1);
      text-underline-offset: 2px;
    }
    a,
    li {
      text-underline-offset: 2px;
    }
    a:hover {
      color: rgb(var(--color-primary-500) / 1);
    }
  }

  .header-lg-styles {
    @apply lg:flex-row lg:justify-between lg:items-center;
  }

  .footer-lg-styles {
    @apply lg:grid lg:grid-cols-[auto_auto_auto];
  }
}

@font-face {
  font-family: "NeonoirBold";
  src:
    url("/assets/fonts/Neonoir/neonoir-font.woff2") format("woff2"),
    url("/assets/fonts/Neonoir/neonoir-font.woff") format("woff");
}

@font-face {
  font-family: "ostrich_sansblack";
  src: url("/assets/fonts/OstrichSans/ostrich-sans.sans-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ostrich_sansmedium";
  src: url("/assets/fonts/OstrichSans/ostrich-sans.sans-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
